APP_NAME=RescueMind AI
APP_ENV=development
DEBUG=true

DATABASE_URL=mysql+pymysql://root:naddy123@localhost:3306/rescuemind

GROQ_API_KEY="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"
GROQ_MODEL=openai/gpt-oss-120b

JWT_SECRET_KEY=change-this-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5